body{
font-family: 'Noto Sans', sans-serif;
margin: 0px;
}
h1{
    font-size: 50px;
}
.half-width p{
    font-weight: 500;
    line-height: 10px;
}
.flax-container{
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.first-head img{
    width:80% ;
}
.second-head img{
    width: 100%;
    height: 72%;
}
.button{
   text-decoration: none;
   background-image: linear-gradient(orange, tomato, deeppink);
   color: white;
   font-weight: 700;
   padding: 5px 10px;
   border-radius: 30px;
   background-position: left;
}
.second-head{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: justify;
}
.about-recipi{
    text-align: center;
}
#container{
    display: flex;
    padding: 5%;
}
.gallery{
    width: 33.33%;
    padding: 2%;
    margin-left: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px gray;
}
.gallery img{
    width: 100%;
}