body{
font-family: 'Noto Sans', sans-serif;
margin: 0px;
}
h1{
    color: grey;
    font-size: 50px;
}
.half-width p{
    color: grey;
    font-weight: 500;
    line-height: 10px;
}
.flax-container{
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.first-head img{
    width:80% ;
}
.second-head img{
    width: 100%;
    height: 72%;
}
.button{
   text-decoration: none;
   background-image: linear-gradient(orange, tomato, deeppink);
   color: white;
   font-weight: 700;
   padding: 5px 10px;
   border-radius: 30px;
   background-position: left;
}
.second-head{
    color: grey;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: justify;
}
.about-recipi{
    text-align: center;
}
#color{
    color: grey;
}
.my-recipie{
    color: black;
}
#container{
    display: flex;
    padding: 5%;
}
.gallery{
    width: 33.33%;
    padding: 2%;
    margin-left: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px gray;
}
.gallery img{
    width: 100%;
}
hr{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    margin-bottom: 100px;
}
#feedback{
    color: grey;
    padding-left: 5%;
}
.feedback-button{
    display: inline-block;
    color: white;
    background-image: linear-gradient(orange, tomato, deeppink);
    border: solid;
    border-radius: 5px;
}
#social-media{
    text-align: center;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px grey;
}
.follower{
    text-decoration: none;
    width: 33.33%;
    padding: 3%;
    margin: 1%;
}
span{
    color: coral;
}
footer{
    text-align: center;
    color: grey;
    background-color: rgb(3, 3, 20);
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0px;
}
footer p{
    color: white;
}